.App {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: #efefef;
    padding: 20px 10px;
    color : #232323;
}
.Avatar{
    width: 100%;
    max-width: 200px;
}
.Grid{
    width: 60%;
    padding: 10px;
}
.Grid:first-child{
    width: 40%;
}
.Title{
    font-size: 24px;
    font-weight: 500;
    border-bottom: 3px solid pink;
}
.SubTitle{
    font-size: 20px;
    font-weight: 500;
}
.List{
    padding: 10px 0px;
}

.ContactIcon{
    padding: 10px;
    /* color:#63400f; */
}
@media (max-width: 1000px) {
    .App{
        display: block;
        width: 100%;
    }
    .Grid{
        width: 100% !important;
    }
}
